

        body{
        background-color: rgb(240,240,240);
      }
        .homelinks{
          color: black;
        }
        .homelinks:hover{
          color: #BF3D3F;
        }
        a {
          color: #BF3D3F;
        }
        a:hover{
          color: #BF3D3F;
        }
      .navbar{
      	border-radius: 0;
      	background: rgba(0,0,0,0.6);
      	position:fixed;
   			z-index:10;
      	width:100%;
    	  padding: 0 7em;
      }
      @media only screen and (max-width: 770px) {
        .navbar{
          background-color: #333233;
          padding: 0;
          position:relative;
          margin-bottom: 0;
        }
      }

      .navbar-inverse .navbar-nav>li>a {
 			  color: #fff;
			}

			.navbar-inverse .navbar-nav > li > a:hover,
			.navbar-inverse .navbar-nav > li > a:focus {
			  font-size: 100%;
/*        font-weight: 900;*/
  		  color: rgb(250,203,34);
  	/*	  background-color: #BF3D3F;*/
			}

      .navimg{
        height: 40px;
        margin: 5px;
      }
      .navimg:hover{
        height:44px;
        margin: 3px;

      }
			.navbar-brand {
		    padding: 0;
      		}
			.navbar-brand > img {
				height: 40px;
				margin: 5px 0px;
			}

@media (max-width: 1050px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}




      .foots{
        background-color: #333233;
        min-height: 50px;
      }

      .footscopy{
        margin-top: 5px;
        padding: 0em 0em;
        color: #999;
        }
        @media only screen and (max-width: 770px) {
        .footscopy{
           padding: 0em 2em 2em 2em;
        }
      }

      .footimg{
        float: right;
        padding: 0;
      }
      @media only screen and (max-width: 770px) {
        .footimg{
          /* The Magic Float Center Code */
          float: right;
          position: relative;
          left: -46%; /* or right 50% */
          text-align: left;
        }
      }

			.carousel {
				width: 100%;
    	/*		position:absolute;*/
    			top:0;    
			}

      .banners{
        }
      @media only screen and (max-width: 770px) {
        .banners{
          margin-top: 0px;
          padding-top: 0px;
        }
      }

      /*HOME PAGE     HOME PAGE     HOME PAGE    HOME PAGE   HOME PAGE   HOME PAGE   HOME PAGE*/
      .homeh3{
        margin: 0;
        padding-top: 1em;
      }

      .homecontainer{
        padding:1.5em 7em;
        background-color: rgb(240,240,240);
        margin-bottom: 50px;
      }
      @media only screen and (max-width: 770px) {
        .homecontainer{
          padding: 0em 0em;
          margin-bottom: 0px;
        }
      }

      .homecol{
        background-color: rgb(240,240,240); 
        padding: 0em .5em
      }

      .homediv{
        padding: 0em 2em 2em 2em;
        background-color:#fff; 
/*        border:1px solid #696969; */
/*        border-style: none solid solid solid;*/
        min-height: 30em;
      }

      @media only screen and (max-width: 770px) {
        .homediv{
          min-height: 15em;
           border-style: none;
        }
      }



			.homeimg{
        width: 100%;
        margin-top: 1em;
/*        border:1px solid #696969;
        border-style: solid solid solid solid;*/

      }
      @media only screen and (max-width: 770px) {
        .homeimg{
          margin-top: 2px;
          border-style: none;
        }
      }

      #hometitle {
        margin: auto;
        text-align: center;
      }

      #homeedit {
        position: absolute;
        top: .5em;
        right: .75em;
      }


      .smbtn{
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
        border-radius: 15px;
        font-size: 14px;
      }

      .smbtn:hover{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
      }
      
      .editbtn{
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
        border-radius: 15px;
        font-size: 14px;
        float: right;
      }

      .editbtn:hover{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
      }

      .formbtn{
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
        border-radius: 15px;
        min-width: 150px;
        min-height:40px;   
      }


      .formbtn:hover{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
      }

      @media only screen and (max-width: 770px) {
        .formbtn{
        min-width: 75px;
        min-height:40px;   
        }
      }

        .homeedit{
          /* The Magic Float Center Code */
          float: right;
          position: relative;
          left: -46%; /* or right 50% */
          text-align: left;
        }


      /*ABOUT PAGE*/

      .aboutcontainer{
        padding:3em 10em;
        background-color: rgb(240,240,240);
        margin-bottom: 50px;
      }
      @media only screen and (max-width: 770px) {
        .aboutcontainer{
          padding: 0em 0em;
          margin-bottom: 0px;
        }
      }

      .aboutcol{
        background-color: rgb(240,240,240); 
      }
      @media only screen and (max-width: 770px) {
        .aboutcol{
         padding: 0;
        }
      }
      .aboutdiv{
        padding: 1em 2em 2em 2em;
        background-color:#fff; 
/*        border:1px solid #696969; 
        border-style: none solid solid solid;*/
        min-height: 20em;
      }

      @media only screen and (max-width: 770px) {
        .aboutdiv{
          border-style: none;
          min-height: 15em;
        }
      }



      .aboutimg{
        width: 100%;
        margin-top: 2em;
/*        border:1px solid #696969;
        border-style: solid;*/

      }
       @media only screen and (max-width: 770px) {
        .aboutimg{
          margin-top: 0em;
          min-height: 15em;
          border-style: none;
        }
      }

      .ordercontainer{
        padding:0em 7em;
        background-color: rgb(240,240,240);
        margin-bottom: 50px;
      }

      @media only screen and (max-width: 770px) {
        .ordercontainer{
          padding: 0em 0em;
          margin-bottom: 0px;
          background-color: #fff;
        }
      }

      .ordercol{
        background-color: rgb(240,240,240);
        margin-top: 2em;
      }

     @media only screen and (max-width: 770px) {
        .ordercol{
         padding: 1em;
         margin-top: 0em;
          background-color:#fff;
        }
      }

      .orderdiv{
        padding: 1em 2em 2em 2em;
        background-color:#fff; 
/*        border:1px solid #696969; 
        border-style: solid solid solid solid;
*/        min-height: 20em;
      }

      @media only screen and (max-width: 770px) {
        .orderdiv{
          border-style: none;
          min-height: 15em;
          padding: 0;
          margin: 0;
        }
      }


/*CONTACT PAGE  CONTACT PAGE  CONTACT PAGE  CONTACT PAGE  CONTACT PAGE  CONTACT PAGE*/
      .contactcol{
        background-color: rgb(240,240,240);
        margin-top: 5em;
      }

     @media only screen and (max-width: 770px) {
        .contactcol{
         padding: 1em;
         margin-top: 0em;
          background-color:#fff;
        }
      }

      /*RECIPE PAGE   RECIPE PAGE    RECIPE PAGE    RECIPE PAGE     RECIPE PAGE    RECIPE PAGE  */
      .recipecontainer{
        padding:1.5em 7em;
        background-color: rgb(240,240,240);
        margin-bottom: 50px;
      }

      
      @media only screen and (max-width: 770px) {
        .recipecontainer{
          padding: 0em 0em;
          margin-bottom: 0px;
        }
      }

      .recipecol{
        background-color: rgb(240,240,240); 
        margin-top: 0em;
        margin-bottom: 2em;
      }

      @media only screen and (max-width: 770px) {
        .recipecol{
          margin: 0em;
          padding: 0em;
  
        }
      }

      .recipediv{
        padding: 0em 2em 2em 2em;
        background-color:#fff; 
        min-height: 20em;
      }

      @media only screen and (max-width: 770px) {
        .recipediv{
          min-height: 15em;
           border-style: none;
        }
      }



      .recipeimg{
        width: 100%;
        margin-top: 1em;
/*        border:1px solid #696969;
        border-style:solid;*/

      }

      @media only screen and (max-width: 770px) {
        .recipeimg{
          margin-top: 2px;
          border-style: none;
        }
      }
      
      .submissiondiv{
        color: #fff;
        background-color: rgb(98, 125, 20);
        min-height: 3em;
      }

      .subbtn{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
        border-radius: 13px;
        font-size: 14px;

        padding: .25em 1em;
        margin-right: .25em;
      }

      .subbtn:hover{
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
      }

      .show{
          margin-top: 4em;
          margin-bottom: 10em;
          background-color: #fff;
          padding: 0;
/*          border:1px solid #696969;*/
      }

      .show > p{
        padding: 0em 1em;
      }

      @media only screen and (max-width: 770px) {
        .show{
           margin: 0em;
          padding: 0em 0em;
       
          background-color: #fff;
        }
      }


        .credsdiv{
        padding: 0;
        background-color:#fff; 
        border:1px solid #696969; 
        border-style: solid solid solid solid;
        margin-top: 5em
        }

      @media only screen and (max-width: 770px) {
        .credsdiv{
          border-style: none;
          min-height: 15em;
          padding: 0;
          margin: 0;
        }
      }

      .formcontainer{
        padding:5em 7em;
        background-color: rgb(240,240,240);
        margin-bottom: 50px;
      }
      @media only screen and (max-width: 770px) {
        .formcontainer{
          padding: 0em 1em;
          margin-bottom: 0px;
          background-color: #fff;
        }
      }
      .errs{
        color: red;
      }

      .rivercontainer{
        padding:5em 7em;
        background-color: rgb(240,240,240);
        margin-bottom: 50px;
      }
      @media only screen and (max-width: 770px) {
        .rivercontainer{
          padding: 0em 0em;
          margin: 0px;
        }
      }


